[package]
name = "minesweep"
description = "A mine sweeping game written in Rust"
version ="6.0.2"
authors = ["Phillip Cloud"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://github.com/cpcloud/minesweep-rs"
repository = "https://github.com/cpcloud/minesweep-rs"
keywords = ["terminal", "minesweeper", "game"]
readme = "./README.md"

[dependencies]
anyhow = "^1"
bit-set = "^0.5"
ctrlc = "^3"
itertools = "^0.10"
rand = "^0.8"
structopt = "^0.3"
termion = "^1"
thiserror = "^1"
tui = "^0.16"
typed-builder = "^0.9"

[profile.release]
lto = true
