[package]
name = "sweep"
description = "A mine sweeping game written in Rust"
version = "4.0.1-alpha.0"
authors = ["Phillip Cloud"]
edition = "2018"
license-file = "./LICENSE"
homepage = "https://github.com/cpcloud/sweep-rs"
repository = "https://github.com/cpcloud/sweep-rs"
keywords = ["terminal", "game", "games"]
readme = "./README.md"

[dependencies]
anyhow = "1"
bit-set = "0.5"
ctrlc = "3"
itertools = "0.10"
rand = "0.8"
structopt = "0.3"
termion = "1"
thiserror = "1"
tui = "0.14"
typed-builder = "0.9"

[package.metadata.release]
disable-push = false
disable-tag = false
disable-publish = false
tag-prefix = ""
no-dev-version = false
