[package]
name = "sweep"
version = "1.0.0"
authors = ["Phillip Cloud"]
edition = "2018"
publish = false

[dependencies]
anyhow = "1"
bit-set = "0.5"
ctrlc = "3"
itertools = "0.10"
rand = "0.8"
structopt = "0.3"
termion = "1"
thiserror = "1"
tui = "0.14"
typed-builder = "0.9"

[package.metadata.release]
disable-push = false
disable-tag = false
disable-publish = true
tag-prefix = ""
no-dev-version = false
