on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

name: CI

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Format
        if: ${{ matrix.rust == 'nightly' }}
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: minesweep
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community
      - run: nix build -L '.#minesweep' '.#minesweep-image' --no-link
      - run: docker load -i "$(nix path-info -L '.#minesweep-image')"
      - run: docker images
  release:
    needs:
      - ci
      - nix-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: install semantic release
        uses: actions-rs/install@v0.1.2
        with:
          crate: semantic-release-rust
          version: 1.0.0-alpha.8
      - name: run semantic release
        uses: cycjimmy/semantic-release-action@v2
        if: ${{ github.event_name == 'push' }}
        with:
          semantic_version: 17.1.1
          extra_plugins: |
            @semantic-release/exec@5.0
            @semantic-release/git@9.0
        env:
          GITHUB_TOKEN: ${{ secrets.SEMREL_MINESWEEP }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.MINESWEEP_CARGO_REGISTRY_TOKEN }}
