on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@7ac1ec25491415c381d9b62f0657c7a028df52a7 # v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v14
        with:
          name: minesweep
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,naersk

      - name: build image
        run: nix build --keep-going --print-build-logs '.#minesweep-image' --no-link

      - name: load image
        run: |
          set -euo pipefail

          docker load -i "$(nix path-info --print-build-logs '.#minesweep-image')"

      - name: show help
        run: |
          set -euo pipefail

          docker run --rm "minesweep:$(nix eval --raw '.#minesweep-image.imageTag')" --help

      - run: docker images minesweep
  release:
    needs:
      - nix
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - uses: cachix/install-nix-action@7ac1ec25491415c381d9b62f0657c7a028df52a7 # v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v14
        with:
          name: minesweep
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,naersk

      - uses: actions/setup-node@v4
        with:
          node-version: 14

      - uses: cycjimmy/semantic-release-action@v4.0.0
        with:
          extra_plugins: |
            @semantic-release/changelog@6.0.3
            @semantic-release/commit-analyzer@9.0.2
            @semantic-release/exec@6.0.3
            @semantic-release/git@10.0.1
            @semantic-release/github@8.0.7
            @semantic-release/release-notes-generator@11.0.1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.MINESWEEP_CARGO_REGISTRY_TOKEN }}
