on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: CI

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  commitlint:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes

      - uses: cachix/cachix-action@v10
        with:
          name: minesweep
          extraPullNames: nix-community,naersk

      - run: nix shell -L -f '<nixpkgs>' commitlint -c commitlint --from=${{ github.event.pull_request.base.sha }} --to=${{ github.sha }} --verbose
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small

      - uses: cachix/cachix-action@v10
        with:
          name: minesweep
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,naersk

      - name: build image
        run: nix build --keep-going --print-build-logs '.#minesweep-image' --no-link

      - name: load image
        run: |
          set -euo pipefail

          docker load -i "$(nix path-info --print-build-logs '.#minesweep-image')"
      - name: show help
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          set -euo pipefail

          docker run --rm "minesweep:$(nix eval --raw '.#minesweep-image.imageTag')" --help
  release:
    concurrency: release
    needs:
      - nix
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v1
        if: ${{ github.event_name == 'push' }}
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' }}
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - uses: actions/checkout@v2
        if: ${{ github.event_name != 'push' }}
        with:
          fetch-depth: 0

      - name: Get semantic-release-rust
        uses: actions/cache@v2
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-${{ env.SEMANTIC_RELEASE_RUST_REF }}
        env:
          SEMANTIC_RELEASE_RUST_REF: 2b183b27fac6abe54ca7741498e5f7a222ad07bb

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
          profile: minimal

      - name: install semantic release
        uses: actions-rs/install@v0.1.2
        with:
          crate: semantic-release-rust
          version: 1.0.0-alpha.8

      - uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17.1.1
          extra_plugins: |
            @semantic-release/exec@5.0
            @semantic-release/git@9.0
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.MINESWEEP_CARGO_REGISTRY_TOKEN }}
