on:
  release:
    types:
      - published
  workflow_dispatch:

name: Publish Docker Image

jobs:
  publish-image:
    concurrency: publish-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v12
        with:
          name: minesweep
          extraPullNames: nix-community,naersk
      - run: nix build -L '.#minesweep-image' --no-link
      - name: load image
        run: |
          set -euo pipefail

          docker load -i "$(nix path-info -L '.#minesweep-image')"
      - name: create Dockerfile
        run: |
          set -euo pipefail

          echo "FROM minesweep:$(nix eval --raw '.#minesweep-image.imageTag')" > Dockerfile
      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/minesweep-rs
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=sha
            type=sha,format=long
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
