on:
  push:
    branches: [ "master" ]
  release:
    types: [ "published" ]

name: Publish Docker Image

jobs:
  push_to_registry:
    name: Push Docker image to Dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Build the Docker image using Nix
        run: nix build -L -f. sweepImage --no-link

      - name: Load the image into Docker
        run: docker load -i "$(nix path-info -L -f. sweepImage)"

      - name: Create a temporary Dockerfile
        run: echo "FROM sweep:$(nix eval -f. --raw sweepImage.imageTag)" > Dockerfile

      - name: Push to Dockerhub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: cpcloud86/sweep
          tag_with_ref: true
          tag_with_sha: true
